<%- include("includes/header") -%>

        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <form action="/diaries/<%= diary.id %>?_method=PUT" method="post">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Text</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="text"
                                    rows="4"><%= diary.text %></textarea>
                            </div>
                            <div class="mb-3">
                                <input type="text" name="image" value="<%= diary.imageUrl %>">
                            </div>
                            <img src="<%= diary.imageUrl %>"
                                class="card-img-bottom" alt="...">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<%- include("includes/footer") -%>
