<%- include("includes/header") -%>
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card mt-3">
                    <div class="card-body">
                        <form action="/diaries" method="POST">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Image url</label>
                                <input class="form-control" type="text" id="formFile" name="image">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Text</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="text"
                                    rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-3">
                <% if (diaries) {%>
                    <% diaries.forEach((diary) => {%>
                        <div class="card mb-5 mt-5">
                            <div class="card-body">
                                <div class="list-group mb-1">
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg"
                                            class="rounded-circle float-start" style="height: 30px;" alt="...">
                                        <h5 class="card-title">Username</h5>
                                    </a>
                                </div>
                                <p class="card-text"><a href="/diaries/<%= diary.id %>"><%= diary.text %></a></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                            <img src="<%= diary.imageUrl %>"
                                class="card-img-bottom" alt="...">
                            <div class="card-footer">
                                <a href="/diaries/<%= diary.id %>/edit" type="button" class="btn btn-primary">Update</a>
                                <form action="/diaries/<%= diary.id %>?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% }); %>
                <%} else {%>
                    <h1>Diary empty</h1>
                <% } %>
            </div>
        </div>
<%- include("includes/footer") -%>
