<%- include("includes/header") -%>

    <div class="col-md-6 offset-3">
      <% if (diary) {%>
        <div class="card mb-5 mt-5">
          <div class="card-body">
            <!-- <div class="list-group mb-1">
              <a href="#" class="list-group-item list-group-item-action">
                <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg"
                class="rounded-circle float-start" style="height: 30px;" alt="...">
                <h5 class="card-title">Username</h5>
              </a>
            </div> -->
            <p class="card-text">
              <%= diary.text %>
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img src="<%= diary.imageUrl %>" class="card-img-bottom" alt="...">
          <div class="card-footer">
            <a href="/diaries/<%= diary.id %>/edit" type="button" class="btn btn-primary">Update</a>
            <form action="/diaries/<%= diary.id %>?_method=DELETE" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <%} else {%>
          <h1>Diary empty</h1>
          <% } %>
        </div>
        <div class="container">
          <div class="add-comment">
            <form action="/comments/<%= diary.id %>/diary" method="POST">
              <input type="text" name="comment">
              <button type="submit">Save</button>
            </form>
          </div>
          <div class="comments">
            <% comments.forEach(comment => {%>
              <h1><%= comment.comment %></h1>
              <%}) %>
            </div>
            <div class="row">
            </div>
          </div>
<%- include("includes/footer") -%>
